In [2]:
import pandas as pd 
import numpy as np
df=pd.read_csv("sprint.csv")
df

         Type   Products  Prices  Quantity
0       Chips    Doritos    15.0      20.0
1         NaN       Lays    12.0      15.0
2         NaN    NikNaks     5.0      30.0
3         NaN      Simba    18.0      18.0
4         NaN        NaN     NaN       NaN
5   Cooldrink      Fanta    11.0      10.0
6         NaN     Sprite    14.0      10.0
7         NaN       Jive    10.0      20.0
8         NaN      Score    10.0      15.0
9         NaN        NaN     NaN       NaN
10  Chocolate         Ps     8.0      20.0
11        NaN     KitKat    10.0      15.0
12        NaN    Bar-one    13.0      10.0
13        NaN        Tex     7.0      25.0
14        NaN        NaN     NaN       NaN
15       Pies    Chicken    15.0      13.0
16        NaN     Burger    20.0      10.0
17        NaN      steak    18.0      20.0
18        NaN     pepper    15.0      10.0
19        NaN        NaN     NaN       NaN
20      Fruit      Guava    10.0      20.0
21        NaN      Peach    12.0      15.0
22        NaN       Pear     8.0      30.0
23        NaN     Banana    15.0      10.0
24        NaN        NaN     NaN       NaN
25   Cupcakes    Vanilla    20.0      20.0
26        NaN   Chocmint    17.0      20.0
27        NaN     Browny    22.0      15.0
28        NaN  Chocolate    20.0      10.0
29        NaN        NaN     NaN       NaN
30    Veggies   Potatoes    25.0      10.0
31        NaN    Spinach    15.0      10.0
32        NaN      Onion    10.0      10.0
33        NaN  Butternut    12.0      10.0