In [4]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000202B86E68C8>

In [5]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE sprint3")

In [6]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//"
)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('new_schema',)
('performance_schema',)
('practicedatabase',)
('sakila',)
('sprint',)
('sprint3',)
('sys',)
('world',)

In [7]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//",
  database="sprint3"
)

In [9]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")
for x in mycursor:
  print(x)

('chips',)

In [11]:
import mysql.connector 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE chips ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [12]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE chocolate (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [13]:
import mysql.connector 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE chocolate ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [15]:
import mysql.connector 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE cooldrink ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [19]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE fruits (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [20]:
import mysql.connector 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE fruits ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [21]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE pies (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [24]:
import mysql.connector 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE pies ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [4]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE veggies (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [5]:
import mysql.connector 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE veggies ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [7]:
import mysql.connector 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE meat ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [9]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE sweets (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [11]:
import mysql.connector 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE sweets ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [2]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE yogurt (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [3]:
import mysql.connector 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ku7574425//",
  database="sprint3"
)
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE yogurt ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")